networks:
  monitoring:
    driver: bridge

volumes:
  grafana_data: {}
  prometheus_data: {}

services:
  prometheus:
    image: prom/prometheus:v2.37.1
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prom/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    expose:
      - 9090
    ports:
      - 9090:9090
    networks:
      - monitoring
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:9090
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  pushgateway:
    image: prom/pushgateway:v1.4.3
    container_name: pushgateway
    restart: unless-stopped
    expose:
      - 9091
    ports:
      - 9091:9091
    networks:
      - monitoring
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:9091
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  grafana:
    image: grafana/grafana-oss:9.1.5
    container_name: grafana
    restart: unless-stopped
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - grafana_data:/var/lib/grafana
    expose:
      - 3000
    ports:
      - 3000:3000
    networks:
      - monitoring
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  server:
    image: ghcr.io/kamontat/jvsg-server:sha-543fba9
    container_name: server
    restart: unless-stopped
    expose:
      - 3333
    ports:
      - 3333:3333
    networks:
      - monitoring
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3333
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
